{% extends 'mail/base.html' %}
{% block content %}
    <div class="row mt-5">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <div class="mb-3 form-group-row">
                        <label for="email_text" class="form-label">Example textarea</label>
                        <textarea class="form-control" id="email_text" name="email_text" rows="10" cols='50'></textarea>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3 form-group-row">
                        <label for="email_to" class="form-label">Email To</label>
                        <input type="text" class="form-control" id="email_to" name='email_to' aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3 form-group-row">
                        <label for="email_from" class="form-label">Email From</label>
                        <input type="email" class="form-control" id="email_from" name='email_from' aria-describedby="emailHelp">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}